@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* the html element*/
:root {
    /* set variables */
    --light-green: #CFFFB3;
    --green: #ADE25D;
    --yellow: #FCEC52;
    --blue: #3B7080;
    --dark-green: #3A5743;
    --white: #fff;
    --dark: #1b1b1b;

    font-family: "Open Sans", sans-serif;
}

/*swap colours on hover*/
a:hover {
    background-color: var(--light-green);
    color: var(--blue);
}

/* a:visited,
a:active {
    border-radius: 0.5em;
    background-color: var(--dark-green);
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 1em;
    box-shadow: .1em .1em 0.5em #000;
    color: #fff;
    text-decoration: none;
} */

/* centres it */
body {
    background: linear-gradient(transparent, var(--light-green));
    min-height: 100vh;
}

/* box and stylingaround all the content for each page
for both main and section */
main {
    display: flex;
    max-width: 80vw;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* makes it into a box */
section {
    background-color: var(--green);
    padding: 2.5em;
    box-shadow: .1em .1em 0.5em #000;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 70vw;
    margin: 5em 0;
}

#mainintro {
    font-size: 1.2em;
    font-weight: bolder;
    padding: 1em 0;
}

header>div {
    display: flex;
    flex-direction: row;
    padding-right: 1 em;
    gap: 1em;
}

th:first-child {
    font-weight: bold;
}

table {
    text-align: left;
}

th {
    padding: 1em;
}